:root {
    --primary: #1888ff;
}

.btn {
    // padding: 8px 20px;
    padding: 30px 18px;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: none;
}

.btn:hover {
    padding: 28px 18px;
    // transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 2px;
    // border: 2px solid var(--primary);
    transition: all 0.1s ease-out;
    background-color: var(--primary);
}